BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4

AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

BreakBeforeBraces: Linux

Cpp11BracedListStyle: true
IndentCaseLabels: false
ColumnLimit: 80
AccessModifierOffset: -4
FixNamespaceComments: true
SpaceBeforeInheritanceColon: true
BreakInheritanceList: AfterComma
IndentPPDirectives: BeforeHash
SpaceBeforeParens: ControlStatementsExceptControlMacros
QualifierAlignment: Left
AlignAfterOpenBracket: BlockIndent
SeparateDefinitionBlocks: Always
NamespaceIndentation: All
PointerAlignment: Left
PenaltyBreakOpenParenthesis: 100

SortIncludes: CaseSensitive
SortUsingDeclarations: LexicographicNumeric

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<.*>'
    Priority: 0
    SortPriority: 0
  - Regex: '".*"'
    Priority: 10
    SortPriority: 10